<!DOCTYPE html>
<html>
  <head>
    <title>Random Pocket</title>
    <meta name="description" content="Chooses a random Pocket article to read">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/styles.css">
    <script>
      /*Google Analytics goes here*/
    </script>
  </head>
  <body>
    <div class="container">
      <h1 class="title_header counter" data-num="999">Random<br/>Pocket</h1>
      <h3>A tool to help you get through your massive Pocket archive</h3>
      <form action="/request" method="post">
        <button type="submit" value="submit">Login<br/>
      </form>
    </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="js/countdown.js"></script>
  </body>
</html>
